//własne zmienne colory
$sk-accent-color: #BE8C6B;

$sk-gray-100: #F8F8F8;
$sk-gray-200: #EEEEEE;
$sk-gray-600: #B7B7B7;
$sk-gray-800: #707070;
$sk-gray-900: #444444;

$sk-white: #FFFFFF;
$sk-black: #000000;

$sk-input-bg: #FCFCFC;
$sk-input-border-color: darken($sk-gray-200, 3%);

$sk-contact-form-shadow: #292C31;
$sk-product-search-btn-color: #CCCCCC;
